/*Style for body background color and to remove margins*/
body{
  background-color: #A69CAC;
  margin: 0;
}

/*style for header background color*/
header{
  /*background: #161B33;*/
  background:#161B33;
  margin:0 0 30px 0;
}

/*common styling for header fonts, color, and alignment*/
h1,h2{
  font-family: Perpetua, 'Times New Roman', serif;
  color: aliceblue;
  text-align: center;
  margin:0;
}

/*h1 size styling*/
h1{
  font-size: 78px;
  padding: 20px 0;
}

/*h2 size styling*/
h2{
  font-size: 24px;
  padding-bottom: 30px;
}

/*h3 font, color, and styling*/
h3{
  text-align:center;
  font-family: verdana, arial, sans-serif;
  color: aliceblue;
  font-style: italic;
}

/*paragraph styling for font style, color, and page positioning*/
p{
  font-family: verdana, arial, sans-serif;
  color: #0D0C1D;
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 22px;
}

/*style class to add a banner to headings*/
.style{
  background:#474973;
  margin:0;
  padding: 15px 0;
}
 


/*center class used to position image in center of page and also adds a border radius to picture*/
img{
  width:100%;
  border-radius: 10px;
}

.wrapper{
  width: 60%;
  margin: auto;
}

/*common styling for the ordered and unordered lists*/
ol, ul{
  list-style-position: inside;
  margin: 0 auto;
  padding-bottom: 30px;
}

/*styling for list elements*/
li{
  color: #0D0C1D;
  font-family: verdana, arial, sans-serif;
  font-size: 18px;
}

/*styling for the horizontal rulers*/
hr{
  border: 0px;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))

}


/*link styling*/ 
a:link {color: aliceblue}
a:visited {color: #474973}
a:hover{color: #ca58c5}
a:active{color: rgb(95, 14, 88)}

/*styling to remove bullets from the contact info list*/
footer ul{
  list-style-type: none;
}

/*flexbox styling*/
.group{
  display: flex;
  flex-direction: column;
}

.item{
  flex: 1;
}

.item-double{
  flex: 2;
}

/*display styling for larger screens*/
@media all and (min-width: 800px){
  .group{
    flex-direction: row;
  }
  .item{
    padding: 0 2%;
  }
  section{
    margin-bottom: 70px;
  }
  .wrapper{
    width: 70%;
  }
}