/*Style for body background color and to remove margins*/
body{
  background-image: url(photos/linedpaper.png);
  margin: 0;
}

/*style for header background color*/
header{
  /*background: #161B33;*/
  background:#161B33;
  margin:0 0 30px 0;
}

/*common styling for header fonts, color, and alignment*/
h1,h2{
  font-family: Perpetua, 'Times New Roman', serif;
  color: aliceblue;
  text-align: center;
  margin:0;
}

/*h1 size styling*/
h1{
  font-size: 78px;
  padding: 20px 0;
}

/*h2 size styling*/
h2{
  font-size: 24px;
  padding-bottom: 30px;
}

/*h3 font, color, and styling*/
h3{
  text-align:center;
  font-family: verdana, arial, sans-serif;
  color: #0D0C1D;
  font-style: italic;
}

/*paragraph styling for font style, color, and page positioning*/
p{
  font-family: 'exo 2', arial, sans-serif;
  font-size: 18px;
  color: #0D0C1D;
  margin-bottom: 30px;
  margin-top: 30px;
}

/*style class to add a banner to headings*/
.style{
  background:#474973;
  margin:0;
  padding: 15px 0;
}
 
/*Change h2 font to a darker color to show up on the main background*/
main h2{
  color:#161B33;
}

/*center class used to position image in center of page and also adds a border radius to picture*/
img{
  width:100%;
  border-radius: 10px;
}

/*Common wrapper setting for the main content of the site*/
.wrapper{
  width: 70%;
  margin: auto;
}

/*common styling for the ordered and unordered lists*/
ol, ul{
  list-style-position: inside;
  margin: 0 auto;
  padding-bottom: 30px;
}

/*styling for list elements*/
li{
  color: #0D0C1D;
  font-family: 'exo 2', arial, sans-serif;
  font-size: 18px;
}

/*styling for the horizontal rulers*/
hr{
  border: 0px;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 20px;
}

/*link styling*/
a{
  font-family: 'exo 2',arial,sans-serif;
}

header a{
  color: aliceblue;
  text-decoration: none;
  margin: 0 20px 0 0;
}

/*navigation styling*/
header nav ul li:last-child a {
  margin-right: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
}

/*link styling*/ 
footer a:link {color: #161B33}
footer a:visited {color: #474973}
footer a:hover{color: #ca58c5}
footer a:active{color: rgb(95, 14, 88)}


/*styling to remove bullets from the contact info list*/
footer ul, header ul{
  list-style-type: none;
}

/*flexbox styling*/
.group{
  display: flex;
  flex-direction: column;
}

.item{
  flex: 1;
}

.item-double{
  flex: 2;
}

.border{
  border: 1pt solid black;
}


/*display styling for larger screens*/
@media all and (min-width: 800px){
  .group{
    flex-direction: row;
  }
  .item{
    padding: 0 2%;
  }
  section{
    margin-bottom: 70px;
  }
  .wrapper{
    width: 50%;
  }
  p{
    font-size: 20px;
  }
  a, li{
    font-size: 20px;
  }
  header a{
    margin: 0 60px 0 0;
  }
  .trim{
    height: 100%;
  }

}

/*Form styling*/
form input, form textarea{
  width: 100%;
  margin-bottom: 20px;
}

form textarea{
  height: 160px;
}

form label{
  font-size: 16px;
  font-family: 'exo 2',arial,sans-serif;
  color: #161B33
}

form button{
  background:#161B33;
  color: aliceblue;
  border:0;
  border-radius: 6px;
  padding: 6px 16px;
  margin-right: 10px;
  font-family: 'exo 2',arial,sans-serif;
}

form{
  padding-right: 10px;
  padding-bottom: 30px;
}
